# Entorno y configuración
.env
.venv
.vscode
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Datos y reportes
data/patient_content/

# Salida de LaTeX y compilaciones
files/latexInformeFinal/%OUTDIR%/
files/latexInformeFinal/*.pdf
files/latexInformeFinal/*.aux
files/latexInformeFinal/*.out
files/latexInformeFinal/*.toc
files/latexInformeFinal/*.log
files/latexInformeFinal/*.synctex.gz

# Archivos específicos
utils/Informe_final_ejemplo.pdf

# Logs
*.log